@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 650px) {
  nav, section, .scroll {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {z
    margin-top: 20px;
  }

  section {
    margin-top: 50px;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
  }

  li {
    margin-bottom: 20px;
  }

  a {
    color: #86868a;
    text-decoration: none;
  }

  h5 {
    font-size: 18px;
  }

  .company-statement {
    margin-top: 20px;
    padding-left: 25px;
    border-left: rgb(138, 138, 142, .6) solid 3px;
    color: #8a8a8e;
  }

  .button {
    display: block;
    background: #000;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    text-align: center;
  }

  .scroll {
    margin-top: 90px;
  }
}

@media only screen and (min-width: 650px) {
  nav, section {
    margin-left: 10%;
    margin-right: 10%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  ul {
    display: flex;
    list-style: none;
  }

  a {
    color: #86868a;
    text-decoration: none;
  }

  section {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }

  .nav-item {
    margin-right: 15px;
  }

  .button {
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
  }

  .column {
    width: 30%;
  }

  .column-2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .circle-1 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: rgba(247, 136, 167, 0.6);
    position: absolute;
    top: 0;
    right: 70px;
  }

  .circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgba(207, 130, 213, 0.6);
    position: absolute;
    top: 50px;
  }
  
  .circle-3 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: rgba(247, 193, 162, 0.7);
    position: absolute;
    top: 120px;
  }

  .company-statement {
    margin-top: 20px;
    padding-left: 25px;
    border-left: rgb(138, 138, 142, .6) solid 3px;
    color: #8a8a8e;
  }

  .scroll {
    display: flex;
    justify-content: center;
    margin-top: 60px;

  }
}

@media only screen and (min-width: 900px) {
  .scroll {
    margin-top: 5rem;
  }
}

